<div class="navbar navbar-fixed-top hide showForStartup" style="display: block;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">GW2-KeepRunning Dragon Timer</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            Servers
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {{#each zonesList}}
                            <li class="nav-header">{{name}} Servers</li>
                                {{#each servers}}
                                <li>
                                    <a id="srv_{{id}}" class="selectServer">{{name}}</a>
                                </li>
                                {{/each}}
                            <li class="divider"></li>
                            {{/each}}
                        </ul>

                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            Administration
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</div>