
<div id="response-container" style="display: block;">
    <div class="overrideMimeTypeMessage"></div>
    <ul id="response-tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#response-headers" data-toggle="tab" rel="tooltip" title="hotkey: 1">Response Headers</a>
        </li>
        <li>
            <a href="#response-body-raw" data-toggle="tab" rel="tooltip" title="hotkey: 2">Response Body (Raw)</a>
        </li>
        <li>
            <a href="#response-body-highlight" data-toggle="tab" rel="tooltip" title="hotkey: 3">Response Body (Highlight)</a>
        </li>
        <li>
            <a href="#response-body-preview" data-toggle="tab" rel="tooltip" title="hotkey: 4">Response Body (Preview)</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="response-headers" class="tab-pane active">
<pre>
<ol class="linenums">
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Status Code</span>
<span class="header-split">: </span>
<span class="header-value">200 OK</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Connection</span>
<span class="header-split">: </span>
<span class="header-value">Keep-Alive</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Content-Length</span>
<span class="header-split">: </span>
<span class="header-value">157</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Content-Type</span>
<span class="header-split">: </span>
<span class="header-value">text/html</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Date</span>
<span class="header-split">: </span>
<span class="header-value">Fri, 21 Sep 2012 22:18:00 GMT</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Keep-Alive</span>
<span class="header-split">: </span>
<span class="header-value">timeout=5, max=99</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">Server</span>
<span class="header-split">: </span>
<span class="header-value">Apache/2.4.2 (Win32) PHP/5.4.6</span>
</span>
    </li>
    <li>
<span class="line">
<span class="header-name" style="width: 130px;">X-Powered-By</span>
<span class="header-split">: </span>
<span class="header-value">PHP/5.4.6</span>
</span>
    </li>
</ol>
</pre>
        </div>
        <div id="response-body-raw" class="tab-pane">
            <pre style="margin-left:0px">{ "dragons" : [{"id":"1","name":"Shattered","map":"Breached Wall Waypoint","carto_link":"http:\/\/gw2cartographers.com\/#\/show\/246\/","respawn_time":"3"}]}</pre>
        </div>
        <div id="response-body-highlight" class="tab-pane">
<pre class="prettyprint linenums" style="margin-left:0px; padding: 5px 0;">
<ol class="linenums">
    <li class="L0">
        <span class="pun">{</span>
        <span class="pln"> </span>
        <span class="str">"dragons"</span>
        <span class="pln"> </span>
        <span class="pun">:</span>
        <span class="pln"> </span>
        <span class="pun">[{</span>
        <span class="str">"id"</span>
        <span class="pun">:</span>
        <span class="str">"1"</span>
        <span class="pun">,</span>
        <span class="str">"name"</span>
        <span class="pun">:</span>
        <span class="str">"Shattered"</span>
        <span class="pun">,</span>
        <span class="str">"map"</span>
        <span class="pun">:</span>
        <span class="str">"Breached Wall Waypoint"</span>
        <span class="pun">,</span>
        <span class="str">"carto_link"</span>
        <span class="pun">:</span>
        <span class="str">"http:\/\/gw2cartographers.com\/#\/show\/246\/"</span>
        <span class="pun">,</span>
        <span class="str">"respawn_time"</span>
        <span class="pun">:</span>
        <span class="str">"3"</span>
        <span class="pun">}]}</span>
    </li>
</ol>
</pre>
        </div>
        <div id="response-body-preview" class="tab-pane">
            <div class="pre" style="margin-left:0px;padding: 0;">{ "dragons" : [{"id":"1","name":"Shattered","map":"Breached Wall Waypoint","carto_link":"http:\/\/gw2cartographers.com\/#\/show\/246\/","respawn_time":"3"}]}</div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>