
.dragon-infos .label,
.dragon-stats .label{
    padding: 8px 12px;
    margin-right: 10px;
    font-weight: normal;
    line-height: 34px;
    background-color: #ddd;
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    cursor: pointer;
}
.dragon-infos .label:hover
.dragon-stats .label:hover{
    color: #000;
}
.dragon-infos .close
.dragon-stats .close{
    color: #000000;
    float: none;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    opacity: 0.4;
    text-decoration: none;
}
.dragon {
    margin-top: 18px;
}

.dragon .overflow {
    overflow: auto;
}

#dragon h2 {
    margin-bottom: 18px;
}
#dragon h3 {
    margin-bottom: 10px;
    margin-top: 18px;
}
#dragon pre{
    min-height: 150px;
}
.pre {
    background-color: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 12.95px;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;
    height: 600px;
    resize: both;
    overflow: hidden;
}
